.comment-wrapper {
  padding: 0 10px;

}

.comment-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.comment-input {
  width: 75%;
  border: 1px solid var(--light-grey);
}

.send {
  width: 25%;
  border: none;
  color: var(--poppin);
}

.comment-list {
  display: flex;
  flex-direction: column;
  padding: 4px;
}
.comment-box{
  margin-bottom:10px;

}
.comments {
  display: flex;
  flex-direction: row;
 
}
.comment{
  width:60%;
  word-wrap: break-word;
 
}
.author {
  font-weight: bold;
  margin: 0 5px 0 0;
}
.edit-box{
  display: flex;
  margin:3px 0 10px 0;
}
.edit-box button{
  width:40px;
  padding: 0px;
  font-size:small;
}
.reply-text{
  margin:-10px 0 8px 35px ;
  font-size: 89%;
  display:flex; 
   flex-wrap: wrap;
}
.reply-text button{
  margin-left:4px;
}
.reply-edit{
  margin-left:35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.reply-edit button{
  width:40px;
  padding: 0px;
  font-size:small;
}
.confirm-btn{
  width: 50px !important;
border:1px solid greenyellow
}
.hide-reply{
  display: none;
}
.reply-edit{
  margin-top: -15px;
  margin-bottom: 15px;
  margin-left: 26px;
  font-size: 80%;
}