.comment-wrapper {
  padding: 0 10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.comment-input {
  width: 75%;
  border: 1px solid var(--light-grey);
}

.send {
  width: 25%;
  border: none;
  color: var(--poppin);
}

.comment-list {
  display: flex;
  flex-direction: column;
}

.comments {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
  margin: 0 5px 0 0;
}
