:root {
  --grey-color: rgb(238, 238, 238);
  --dark-grey: rgb(39, 39, 39);
  --pop: rgb(125, 74, 246);
  --poppin: rgb(111, 0, 255);
  --lavender: rgb(228, 207, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h3 {
  font-weight: bold;
  font-size: 16px;
}

small {
  font-size: 12px;
}

.error {
  color: red;
}

.message {
  color: rgb(0, 199, 0);
}

body {
  font-family: "Montserrat", "Times New Roman", Times, serif;
  width: 100%;
  color: var(--dark-grey);
  /* height: 100vh; */
}

.top-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
  color: black;
  width: 100%;
  height: 7vh;
  margin: 0 0 20px 0;
  font-size: 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.navbar-bottom,
.navbar-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 30px 0 30px;
}

.navbar-top {
  justify-content: space-between;
  margin: 0 10px 0 10px;
}

.bottom-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  width: 100vw;
  height: 7vh;
  font-size: 25px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid rgb(218, 218, 218);
}

a,
a:visited {
  color: rgb(61, 61, 61);
  text-decoration: none;
}

nav a:active,
nav a:hover {
  color: var(--pop);
}

.plus-btn {
  border: none;
  border-radius: 100%;
  margin: 0;
  padding: 5px 5px;
  z-index: 10;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 7vh 0 7vh 0;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 7vh 0 7vh 0; */
}

button {
  font-size: 14px;
  padding: 4px 8px;
  margin: 5px 0;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
}

.like-btn {
  border: none;
}

.fa-star {
  color: rgb(53, 53, 53);
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

.name {
  font-weight: bold;
}

.content {
  padding: 10px;
}

.post-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0 10px 0 10px;
}

.post-image {
  width: 100%;
  padding: 10px 0px;
}

.profile-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  margin: 15px 0;
  padding: 0px;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.like-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-wrapper {
  padding: 0 10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-list {
  display: flex;
  flex-direction: column;
}

.comments {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(228, 228, 228); */
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
  margin: 0 5px 0 0;
}

input {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 10px;
  font-size: 14px;
  padding: 4px 8px;
  margin: 5px 0;
}
